body {
    background-color: #F1F1F1;
}
table {
    background-color: #FFFFFF;
}
.error{
    color:#FF0000;
}
.messagebox{
    font-size:14pt;
    padding:2px;
}
.medical_cart_list img{
    border:3px solid #f2f8ff;
}
.imglist {
    overflow: hidden;
}

.imglist a {
    float: left;
    margin: 5px;
}

.imglist a img {
    vertical-align: top;
    padding: 1px;
    border: 1px solid #ccc;
    max-width: 200px;
    max-height: 75px;
}
.fancybox-lock{
}
tr.header-row{
    background:#C3D9FF;
}
.table-hover tr.header-row:hover td, .table-hover tr.header-row:hover th {
    background-color:#86b2ff;
}
#ajax-loading-container{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
    display:none;
}
#ajax-loading-container img{
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 100;
    width:10%;
}

.widget_client_info{
    display:none;
}
.new_medical_row{
    display:none;
}
.teeth_container, .analysis_container{
    width:50%;
    float:left;
}

.apcal_btn {
    display: inline-block;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.apcal_btn:hover,
.apcal_btn:active,
.apcal_btn.active,
.apcal_btn.disabled,
.apcal_btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
}

.apcal_btn:active,
.apcal_btn.active {
    background-color: #cccccc;
}

.apcal_btn:first-child {
    *margin-left: 0;
}

.apcal_btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.apcal_btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.apcal_btn.active,
.apcal_btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.apcal_btn.disabled,
.apcal_btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.apcal_btn-large {
    padding: 9px 14px;
    font-size: 16px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.apcal_btn-large [class^="icon-"] {
    margin-top: 2px;
}

.apcal_btn-small {
    padding: 3px 9px;
    font-size: 12px;
    line-height: 18px;
}

.apcal_btn-small [class^="icon-"] {
    margin-top: 0;
}

.apcal_btn-mini {
    padding: 2px 6px;
    font-size: 11px;
    line-height: 16px;
}

.apcal_btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.apcal_btn-block + .apcal_btn-block {
    margin-top: 5px;
}

.apcal_btn-primary.active,
.apcal_btn-warning.active,
.apcal_btn-danger.active,
.apcal_btn-success.active,
.apcal_btn-info.active,
.apcal_btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}

.apcal_btn {
    border-color: #c5c5c5;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.apcal_btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.apcal_btn-primary:hover,
.apcal_btn-primary:active,
.apcal_btn-primary.active,
.apcal_btn-primary.disabled,
.apcal_btn-primary[disabled] {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
}

.apcal_btn-primary:active,
.apcal_btn-primary.active {
    background-color: #003399 \9;
}

.apcal_btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    *background-color: #f89406;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.apcal_btn-warning:hover,
.apcal_btn-warning:active,
.apcal_btn-warning.active,
.apcal_btn-warning.disabled,
.apcal_btn-warning[disabled] {
    color: #ffffff;
    background-color: #f89406;
    *background-color: #df8505;
}

.apcal_btn-warning:active,
.apcal_btn-warning.active {
    background-color: #c67605 \9;
}

.apcal_btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    *background-color: #bd362f;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.apcal_btn-danger:hover,
.apcal_btn-danger:active,
.apcal_btn-danger.active,
.apcal_btn-danger.disabled,
.apcal_btn-danger[disabled] {
    color: #ffffff;
    background-color: #bd362f;
    *background-color: #a9302a;
}

.apcal_btn-danger:active,
.apcal_btn-danger.active {
    background-color: #942a25 \9;
}

.apcal_btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.apcal_btn-success:hover,
.apcal_btn-success:active,
.apcal_btn-success.active,
.apcal_btn-success.disabled,
.apcal_btn-success[disabled] {
    color: #ffffff;
    background-color: #51a351;
    *background-color: #499249;
}

.apcal_btn-success:active,
.apcal_btn-success.active {
    background-color: #408140 \9;
}

.apcal_btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    *background-color: #2f96b4;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.apcal_btn-info:hover,
.apcal_btn-info:active,
.apcal_btn-info.active,
.apcal_btn-info.disabled,
.apcal_btn-info[disabled] {
    color: #ffffff;
    background-color: #2f96b4;
    *background-color: #2a85a0;
}

.apcal_btn-info:active,
.apcal_btn-info.active {
    background-color: #24748c \9;
}

.apcal_btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    *background-color: #222222;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.apcal_btn-inverse:hover,
.apcal_btn-inverse:active,
.apcal_btn-inverse.active,
.apcal_btn-inverse.disabled,
.apcal_btn-inverse[disabled] {
    color: #ffffff;
    background-color: #222222;
    *background-color: #151515;
}

.apcal_btn-inverse:active,
.apcal_btn-inverse.active {
    background-color: #080808 \9;
}

button.apcal_btn,
input[type="submit"].apcal_btn {
    *padding-top: 3px;
    *padding-bottom: 3px;
}
.apcal_modal-body {
    height: 350px;
    padding: 15px;
    overflow-y: auto;
}
.apcal_alert-danger,
.apcal_alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.apcal_alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.apcal_alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}
.apcal_alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}